.timeDiv {
    position: relative;;
    height: 25rem;
    width: 100%;
    /* border: 1px solid rgb(195, 195, 195);
    border-radius: 2px; */
}

.timeNow {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:white;
}