.forecastBox {
    position: relative;
    height: 20rem;
    width: 70rem;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 2px;
    margin: 0 auto;
}

.outerForecastBox {
    position: absolute;
    height: 25rem;
    width: 100%;
}

.whiteText {
    color:white;
}

.forecastButton {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 2px;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
     
}

.hover {
    background-color:lightgray;
    animation: buttonColor 0.5s;
    color:black;
}

@keyframes buttonColor {
    0% {
        background-color: rgba(0,0,0,0.87);
    }
    100% {
        background-color: lightgray;
    }
}

.forecastDayHourly {
    border: 1px dotted;
    border-radius: 2px;
    /* margin-left: 5px;
    margin-right: 5px; */
    height: 13rem;
    width: 24rem;
    display:inline-block;
    margin-bottom: 20px;
}

.forecastDayExtended {
    border: 1px dashed;
    border-radius: 2px;
    /* margin-left: 5px;
    margin-right: 5px; */
    height: 13rem;

}

#forecastResults {
    /* courtesy of https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}