.forecastBox {
    position: relative;
    height: 44rem;
    width: 100%;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.outerForecastBox {
    position: absolute;
    height: 25rem;
    width: 100%;
}

.whiteText {
    color:white;
}

.forecastButton {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 2px;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
     
}

.hover {
    background-color:lightgray;
    animation: buttonColor 0.5s;
    color:black;
}

@keyframes buttonColor {
    0% {
        background-color: rgba(0,0,0,0.87);
    }
    100% {
        background-color: lightgray;
    }
}

#svg {
    position: absolute;
    left: 0px;
}

.forecastDayHourly {
    border: 1px dotted;
    border-radius: 2px;
    /* margin-left: 5px;
    margin-right: 5px; */
    height: 38rem;
    width: 24rem;
    display:inline-block;
    margin-bottom: 20px;
}

.forecastDayExtended {
    border: 1px dashed;
    border-radius: 2px;
    /* margin-left: 5px;
    margin-right: 5px; */
    height: 38rem;
}

#forecastResults {
    /* courtesy of https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
}

.temperatureDot {
    width: 1px;
    height: 1px;
    /* border-radius: 50%;
    background-color: white; */
    /* margin-left: auto;
    margin-right: auto; */
    position: absolute;
    left: 50px
}

.tempGraphBox {
    width: 100px;
    height: 100px;
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}