.friendsOverlord{
    position: fixed;
    right: 0px;
    height: 30rem;
    width: 15%;
    bottom:0px;
}

.containerForFriends {
    position: relative;
    width: 90%;
    border: 1px solid white;
    border-radius: 2px;
    height: 100%;
    right: -13px;
}

.theFriends {
    color:white;
    text-align: left;
    margin-left: 1rem;
}

.tinyFriendPic {
    height: 20px;
    width: 20px;
}

.online, .offline {
    font-size: 12px;
    margin-right: 0.5rem;
}

.online {
    color: green;
}

.offline {
    color: maroon;
}