nav, .nav-wrapper {
    background-color: rgba(0, 0, 0, 0.596) !important;
    width: 100%;
    border: none;
}
 
nav, .brand-logo {
    top: 10px;
}

.brand-logo {
    position: relative !important;
    margin: 0 auto;
    text-align: center;
}

.Dropdown-placeholder, .is-selected {
    height: 46px;
    width:1rem;
    left: 6px !important;
    
}

.Dropdown-menu {
    width: 300% !important;
    right: 0px !important;
    position: fixed;
    z-index: 10
}

.Dropdown-control {
    padding: 8px 24px 8px 10px !important;
    
}

.sidebarButton {
    float: left;
    background-color: black;
    color: white;
    height: 64px;
    width: 64px;
    border-radius: 2px;
    border: 1px solid white;
    position:fixed;
    left: 0px;
}

.menuOptions {
    text-align: left;
    font-weight:bold;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.welcome {
    position: relative;
    float: right;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}