/* colors */
/* mixins */
* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    /* background: #a0d4ff; */
    overflow: hidden;
  }
  
  .sun {
    position: relative;
    top: 15%;
    margin: auto;
    height: 500px;
    width: 500px;
  }
  
  .face {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 5%;
    left: 200px;
    background: #f0c40d;
    border-radius: 50%;
    box-shadow: inset 20px 0 20px #f49c07, 0 0 30px #fff;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  
  /* .eyeR, .eyeL {
    position: absolute;
    height: 15px;
    width: 15px;
    background: #222;
    border-radius: 50%;
    top: 70%;
    animation: blink 3s linear infinite 0s;
  }
  .eyeR::before, .eyeL::before {
    position: absolute;
    display: block;
    content: "";
    height: 35%;
    width: 35%;
    background: #fff;
    border-radius: 50%;
    top: 15%;
    right: 15%;
  }
  .eyeR::after, .eyeL::after {
    position: absolute;
    display: block;
    content: "";
    height: 15%;
    width: 15%;
    background: #fff;
    border-radius: 50%;
    top: 65%;
    left: 15%;
  }
  
  .eyeR {
    left: 25%;
  }
  
  .eyeL {
    right: 25%;
  }
  
  .mouth {
    position: absolute;
    height: 30px;
    width: 30px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #222;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 50%;
    top: 65%;
    left: calc((100% - 30px)/2);
  }
   */
  /* keyframes */
  @keyframes blink {
    5%,10% {
      height: 1px;
    }
    10% {
      height: 15px;
    }
  }
  